name: Run Python App

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"  # runs every 15 minutes

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        if [ -f requirements.txt ]; then
          pip install -r requirements.txt
        else
          echo "No requirements.txt found"
        fi

    - name: Run main.py
      run: python app.py
